/* RTL */
.wrap.rtl .contact__us__block .question {
  margin-right: 0;
  margin-left: 0.5rem;
}
.wrap.rtl .card__block {
  width: 19.37%;
  margin: 0 0 3.53% 7.5%;
}
.wrap.rtl .card__block:nth-child(4n+4) {
  margin: 0 0 3.53% 0;
}

@media screen and (max-width: 1700px) {
  .wrap.rtl .card__block {
    width: 22%;
    margin: 0 0 3.53% 4%;
  }
  .wrap.rtl .card__block:nth-child(4n+4) {
    margin: 0 0 3.53% 0;
  }
}
@media screen and (max-width: 1200px) {
  .wrap.rtl .card__block {
    width: 30%;
    margin: 0 0 3.53% 5%;
  }
  .wrap.rtl .card__block:nth-child(4n+4) {
    margin: 0 0 3.53% 5%;
  }
  .wrap.rtl .card__block:nth-child(3n+3) {
    margin: 0 0 3.53% 0;
  }
}
@media screen and (max-width: 850px) {
  .wrap.rtl .card__block {
    width: 25rem;
    margin: 0 0 3.53% 0;
  }
  .wrap.rtl .card__block:nth-child(4n+4) {
    margin: 0 0 3.53% 0;
  }
  .wrap.rtl .card__block:nth-child(3n+3) {
    margin: 0 0 3.53% 0;
  }
}
@media screen and (max-width: 576px) {
  .wrap.rtl .card__block {
    width: 31rem;
    margin: 0 0 5.1rem;
    padding: 2.4rem 1.6rem 1.6rem;
  }
  .wrap.rtl .card__block:nth-child(4n+4) {
    margin: 0 0 5.1rem 0;
  }
  .wrap.rtl .card__block:nth-child(3n+3) {
    margin: 0 0 5.1rem 0;
  }
}
/* LTR */
.wrap {
  background-color: #fff;
}

.sidebar {
  max-height: 100%;
}

.guides__content__wrap {
  padding: 1.4% 4rem 1.4%;
}

.navbar, .guides__title__block {
  border-bottom: 1px solid #D7D7D7;
}

.guides__title__block {
  padding: 0 0 0.73%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.page__title {
  color: #333333;
  font-size: 3rem;
  line-height: 3.6rem;
}

.contact__us__block {
  display: flex;
  font-size: 2rem;
  color: #333333;
}
.contact__us__block .question {
  margin-right: 0.5rem;
}
.contact__us__block .question__link {
  color: #333333;
  border-bottom: 1px solid #333333;
}

/* Page body */
.page__body {
  padding-top: 2%;
  display: flex;
  flex-dirrection: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.card__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 19.37%;
  margin: 0 7.5% 3.53% 0;
  padding: 3rem 2rem 2rem;
  background-color: #E3E9F0;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.35);
  border-radius: 2.3rem;
}
.card__block:nth-child(4n+4) {
  margin: 0 0 3.53% 0;
}

.card__info__block {
  text-align: center;
  margin-bottom: 1rem;
}

.card__title {
  font-size: 2.5rem;
  line-height: 3.3rem;
  color: #333333;
  margin-bottom: 1.1rem;
}

.card__text {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #333333;
}

.card__button {
  width: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid #0371AD;
  font-size: 1.8rem;
  line-height: 4rem;
  color: #0371AD;
  border-radius: 0.5rem;
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 2100px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 2400px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 3000px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 1700px) {
  .card__block {
    width: 22%;
    margin: 0 4% 3.53% 0;
  }
  .card__block:nth-child(4n+4) {
    margin: 0 0 3.53% 0;
  }
}
@media screen and (max-width: 1600px) {
  .card__block {
    padding: 2rem 1.3rem 1.6rem;
  }

  .card__title {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  .card__text {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
@media screen and (max-width: 1440px) {
  .card__title {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .card__text {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 1368px) {
  .card__block {
    padding: 2rem 0.5rem 1.6rem;
  }

  .card__button {
    width: 80%;
    line-height: 3.6rem;
  }

  .card__text {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
}
@media screen and (max-width: 1200px) {
  .cards {
    justify-content: flex-start;
  }

  .card__block {
    width: 30%;
    padding: 2rem 1.3rem 1.6rem;
    margin: 0 5% 3.53% 0;
  }
  .card__block:nth-child(4n+4) {
    margin: 0 5% 3.53% 0;
  }
  .card__block:nth-child(3n+3) {
    margin: 0 0 3.53% 0;
  }

  .card__block {
    padding: 2rem 1.3rem 1.6rem;
  }

  .card__title {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .card__text {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
@media screen and (max-width: 850px) {
  .cards {
    width: 54rem;
    margin: auto;
    justify-content: space-between;
  }

  .card__block {
    width: 25rem;
    margin: 0 0 3.53% 0;
  }
  .card__block:nth-child(4n+4) {
    margin: 0 0 3.53% 0;
  }
  .card__block:nth-child(3n+3) {
    margin: 0 0 3.53% 0;
  }

  .guides__content__wrap {
    padding: 0;
  }

  .guides__title__block {
    padding: 3.9rem 0 3.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .page__title {
    margin-bottom: 0.5rem;
  }

  .page__body {
    padding-top: 2.5rem;
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  .guides__content__wrap {
    padding: 1.4% 0 1.4%;
  }

  .page__title {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .contact__us__block {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .cards {
    width: 88.57%;
    justify-content: center;
  }

  .card__block {
    width: 31rem;
    margin: 0 0 5.1rem;
    padding: 2.4rem 1.6rem 1.6rem;
  }
  .card__block:nth-child(4n+4) {
    margin: 0 0 5.1rem 0;
  }
  .card__block:nth-child(3n+3) {
    margin: 0 0 5.1rem 0;
  }

  .card__title {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .card__text {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .card__button {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .cards {
    width: 100%;
  }

  .card__block {
    width: 31rem;
  }
}
@media screen and (max-width: 350px) {
  .card__block {
    width: 30rem;
  }
}